/bin/systemctl --system daemon-reload &> /dev/null || :
if [ $1 -gt 1 ]; then
    /bin/systemctl try-restart ${project.artifactId}.service
else
    /bin/systemctl enable ${project.artifactId}.service
fi
