<?xml version="1.0" encoding="utf-8"?>
<service>
    <short>${project.artifactId}</short>
    <description>${project.description}</description>
#if (${rpmFirewalldProtocol} != "none" && ${rpmFirewalldPort} != "none")
    <port protocol="${rpmFirewalldProtocol}" port="${rpmFirewalldPort}"/>
#end
</service>